<!DOCTYPE html>
    <html>
     <head>
      <style>
          .spacer{
           width:200px;
           height:35px;
           display:inline-block
          }
          .weatherimg{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 25%;
          }
          body { 
          background-color: #030303; 
          color: #FFFFFF; 
          font-family: 
          sans-serif; 
          }
          h2, h3 {
          color: #FFFFFF; 
          text-align:center; 
          }
          table, th, td { 
          border: 2px solid white; 
          border-collapse:collapse;
          padding: 5px 5px 5px 5px;
          }
        </style>
      </head>
      <body>
        <div class="spacer">
        </div>
        <div>
        <form action="" method="get" class="form-example">
          <div class="form-example" align=center>
            <label for="name"><i>Enter your <b>zip code:</b></i> </label>
            <input type="text" name="zip" id="zip" required>
          </div>
        </form>
        </div> 
          {% if zip != "" %}
              <div>
                <h2> In {{city}}, the temperature is currently <span style=color:#{{hexCode}}>{{tmp}} &#x2109;</span> </h2>
                <h3>You'll see {{conditions}} at the moment.</h3>
                <p><img class="weatherimg" src={{cond_img}} alt={{alt_text}}></p>
              </div>
              <br />
              <div>
                <table align=center>
                  <tr>
                    <td align=center colspan="2"><b>Today<b/></td>
                  </tr>
                <tr>
                  <td>Minimum Temperature</td>
                  <td>{{minTemp}} &#x2109;</td>
                </tr>
                <tr>
                 <td>Maximum Temperature</td>
                 <td>{{maxTemp}} &#x2109;</td>
                </tr>
                <tr>
                 <td>Humidity</td>
                 <td>{{humidity}}%</td>
               </tr>
               <tr>
                 <td>Wind Speed</td>
                 <td>{{windSpd}}m/s</td>
                <tr>
                </table>
              </div>
          {% endif%} 
      </body>
    </html>